*{
    margin: 0px;
    padding: 0px;
}

.navbar-brand>img{
    width:80px;
    margin-left: 50px;
}
.navbar-nav{
    margin-right: 100px;
}
.nav-item{
    margin: 10px;
}
.header{
    background-image: url(./image/01.jpg);
    height:600px;
    background-position: center center;
    background-repeat: no-repeat;
}

.navbar{
    
    border-bottom: 1px solid #2ECFCB;
}
#navbarNavDropdown>ul>li>a{
    font-size:15px;
    color:#3ABDD1;
    font-weight: bold;
}

.container{
    margin-top: 6.5rem;
    margin-bottom: 2.5rem;
}
.img-responsive{
    width: 100%;
    border-radius: 2px;
}
.nametext{
    font-weight: bold;
    color:#2ECFCB;
    text-align: left left;
    float: left;
}
.textbox{
    display: flex;
    flex-direction: column;
   
}
.lead{ 
    width: fit-content;
    
    color: #474554;
    font-weight: bold;
    text-shadow: 1px 1px 1px #F9F871;
  
}

.lead-box{
    
    display: flex;
    flex-direction:row;
}
.incon{
    color:#ffffff;
    margin: 10px;
}
.incon:hover{
color:#009E34;
}
.container-icon{
    margin-top:30px;
}
.progress-bar{
    height:3px;
    
}

.python{ 
    width: 35%;
    animation: python 3s;
  }
  @keyframes python{ 
    0%{
      width: 0%;
    }
  
    100%{

      width: 35%;
    }
  }
.java{ 
    width: 20%;
    animation: java 3s;
  }
  @keyframes java{ 
    0%{
      width: 0%;
    }
  
    100%{

      width: 20%;
    }
  }
.javascript{  
    width: 25%;
    animation: javascript 3s;
  }
  @keyframes javascript{ 
    0%{
      width: 0%;
    }
  
    100%{

      width: 25%;
    }
}
.cpp{  
    width: 10%;
    animation: cpp 3s;
  }
  @keyframes cpp{ 
    0%{
      width: 0%;
    }
  
    100%{

      width: 10%;
    }
}
.css{  
    width: 15%;
    animation: css 3s;
  }
  @keyframes css{ 
    0%{
      width: 0%;
    }
  
    100%{

      width: 15%;
    }
}
.html{  
    width: 15%;
    animation: html 3s;
  }
  @keyframes html{ 
    0%{
      width: 0%;
    }
  
    100%{

      width: 15%;
    }
}
.Postgresql{  
    width: 10%;
    animation: Postgresql 3s;
  }
  @keyframes Postgresql{ 
    0%{
      width: 0%;
    }
  
    100%{

      width: 10%;
    }
}
.MongoDB{  
    width: 10%;
    animation: MongoDB 3s;
  }
  @keyframes MongoDB{ 
    0%{
    color: #206EFD;
      width: 0%;
    }
  
    100%{
    color:#009E34;
      width: 10%;
    }
}
.container-bar>h2{
    font-size:20px;
}
.progress-bar{
    
    margin-bottom: 20px;
}

.persent1{
    animation:p1 3s;
    font-size:13px;
    margin-left: 24%;
    color:#ED0249;
}
.persent2{
    animation:p1 3s;
    font-size:13px;
    margin-left: 12%;
    color:#ED0249;
}
.persent3{
    animation:p1 3s;
    font-size:13px;
    margin-left: 8%;
    color:#ED0249;
}
.persent4{
    animation:p1 3s;
    font-size:13px;
    margin-left: 2%;
    color:#ED0249;
}
.persent5{
    animation:p1 3s;
    font-size:13px;
    margin-left: 8%;
    color:#ED0249;
}
.persent6{
    animation:p1 3s;
    font-size:13px;
    margin-left: 6%;
    color:#ED0249;
    
}
.persent7{
    animation:p1 3s;
    font-size:13px;
    margin-left: 2%;
    color:#ED0249;
    
}
.persent8{
    animation:p1 3s;
    font-size:13px;
    margin-left: 2%;
    color:#ED0249;
    
}
@keyframes p1 {
    0%{color: #008A65;}
    25%{color: #FF8C74;}
    50%{color:#DB768B}
    75%{color:#6972D7}
    100%{color:#ED0249}
}
body{
  font-family: 'Nunito', sans-serif;
 
}
.card{
  
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
      transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
  padding: 14px 80px 18px 36px;
  cursor: pointer;
}

.card:hover{
     transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card h3{
  font-weight: 600;
}

.card img{
  position: absolute;
  top: 20px;
  right: 15px;
  max-height: 120px;
}

.card-1{
  background-image: url(./image/photo_2021-11-10_21-28-37.jpg);
  background-repeat: no-repeat;
  background-size: cover; 

}
.card-1 p{
  font-weight: bold;
  text-shadow:1px 1px 5px#fff;
  
}
.card-2 p{
 
  font-weight: bold;
  text-shadow:1px 1px 5px#fff;
  
}
.card-3 p{
  font-weight: bold;
  text-shadow:1px 1px 3px#fff;
  
}


.card-2{
   background-image: url(./image/photo_2021-11-10_21-28-18.jpg);
   background-repeat: no-repeat;
   background-size: cover; 
}

.card-3{
   background-image: url(./image/photo_2021-11-10_21-28-31.jpg);
   background-repeat: no-repeat;
   background-size: cover; 

}

@media(max-width: 990px){
  .card{
    margin: 20px;
  }
} 
.container1 h3{
  font-size:20px;
  color: black;
}

.container1{
  display: flex;
  
  margin-top: 6.5rem;
  margin-bottom: 2.5rem;
}
.EXPERIENCE{
  margin-left: 30%;
  margin-bottom: 10%;
  font-size: 30px;;
}
.footer{
  width:98%;
  margin-top:10%;
  margin-bottom:5%;
  
  
}
.copyright{
  padding-top: 1px;
  height: 40px;
  background-color: black;
  color: rgba(255, 255, 255, 0.815);
  text-shadow:2px 2px 5px rgba(106, 199, 179, 0.808);
  text-align: center;
}
/* start */

.h1 {
  text-align: center;
  font-family: Tahoma, Arial, sans-serif;
  color: #06D85F;
  margin: 80px 0;
}

.box {
  margin: 0 auto;
  height:300px;
  width: 350px;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  border: 2px solid #fff;
  text-align: center;
}

.button {
  font-size: 1em;
  color: #fff;
  text-shadow: 1px 1px 4px black;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.card-1{
 
  height:99%;
  
}
.card-2{
  height:99%;
  
}
.card-3{
  height:99%;
  
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 900px){
  .box{
    width: 70%;
  }
  .popup{
    width: 70%;
  }
}
.img-ex{
  width: 100%;
  padding-bottom: 10%;
}